# Configuration file

~CONFIG_VERSION: 1.0.0

##########################################################################################################
# trees
#--------------------------------------------------------------------------------------------------------#
# This config can be used to customise the world generation for all trees that where added by forestry or
# by an addon mod like extra trees.
# 
# # The spawn rarity of the tree species in the world. [range: 0.0 ~ 1.0]
# S:rarity=1.0
# 
# # Dimension ids can be added to these lists to blacklist or whitelist them. 
# dimensions {
# 	I:blacklist <
# 		1
# 	 >
# 	I:whitelist <
# 		-1
# 	 >
# }
# 
# # Biome types or registry names can be added to these lists to blacklist them. 
# biomes {
# 	blacklist {
# 		S:names <
# 			minecraft:plains
# 		 >
# 		S:types <
# 			forest
# 		 >
# 	}
# }
##########################################################################################################

trees {

    ##########################################################################################################
    # global
    #--------------------------------------------------------------------------------------------------------#
    # All options defined in the global category are used for all trees.
    ##########################################################################################################

    global {
    }

    "forestry:global" {
        D:rarity=1.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_darkoak" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_teak" {
        D:rarity=0.0024999999441206455

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_cocobolo" {
        D:rarity=5.000000237487257E-4

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_lime" {
        D:rarity=0.004999999888241291

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_sipiri" {
        D:rarity=0.0024999999441206455

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_zebrawood" {
        D:rarity=5.000000237487257E-4

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_plum" {
        D:rarity=0.004999999888241291

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_larch" {
        D:rarity=0.0024999999441206455

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_walnut" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_papaya" {
        D:rarity=0.004999999888241291

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_lemon" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_spruce" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_poplar" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_maple" {
        D:rarity=0.0024999999441206455

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_birch" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_kapok" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_ebony" {
        D:rarity=5.000000237487257E-4

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_oak" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_baobab" {
        D:rarity=0.004999999888241291

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_jungle" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_sequoia" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_ipe" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_mahogony" {
        D:rarity=5.000000237487257E-4

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_mahoe" {
        D:rarity=4.999999873689376E-6

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_acacia" {
        D:rarity=0.004999999888241291

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_wenge" {
        D:rarity=5.000000237487257E-4

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_chestnut" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_willow" {
        D:rarity=0.0024999999441206455

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_cherry" {
        D:rarity=0.001500000013038516

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_acaciavanilla" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_padauk" {
        D:rarity=0.004999999888241291

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_gigant" {
        D:rarity=0.0

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_date" {
        D:rarity=0.004999999888241291

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_pine" {
        D:rarity=0.0024999999441206455

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

    "forestry:tree_balsa" {
        D:rarity=5.000000237487257E-4

        dimensions {
            S:blacklist <
             >
            S:whitelist <
             >
        }

        biomes {

            blacklist {
                S:names <
                 >
                S:types <
                 >
            }

        }

    }

}


